server:
  port: ${PORT:8080}

spring:
  application:
    name: policy-service
  data:
    mongodb:
      uri: ${MONGODB_URL:mongodb://localhost:27017/insurewatch}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.insurewatch: DEBUG
